@import "compass/css3";

@mixin breakpoint($point) {
  @if $point == reader {
    @media (min-width: 384px) { @content; }
  }
  @else if $point == small {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 992px)  { @content; }
  }
  @else if $point == large {
    @media (min-width: 1200px)  { @content; }
  }
}

$text_color: #fff;
$link_color: #fff;
$link_hover_color: yellow;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: $text-color;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.1em;
}

a {
  color: $link_color;
  text-decoration: none;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;

  &:hover {
	  color: $link-hover-color;
	  text-decoration: none;
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  
  a {
	  color: $link-color;
	  
	  &:hover {
		 color: $link-hover-color; 
	  }
  }
  
  small {
	  color: $text-color;
  }
}


h1 {
	$h1-size: 38px;

	font-size: $h1-size;
	margin-bottom: 0.6em;
	@include single-text-shadow(#000, 0, 0, 10px );
	
	strong {
	  font-size: 1.2em;
	}
	
	@include breakpoint(small) {
		font-size: $h1-size * (1 + (.28* 1));
	}
	@include breakpoint(medium) {
		font-size: $h1-size * (1 + (.28 * 2));
	}
	@include breakpoint(large) {
		font-size: $h1-size * (1 + (.28 * 3));
	}
}


h2 {
	$h2-size: 28px;

	font-size: $h2-size;
	margin-bottom: 0.6em;
	@include single-text-shadow(#000, 0, 0, 10px );
	
	strong {
	  font-size: 1.2em;
	}
	
	@include breakpoint(small) {
		font-size: $h2-size * (1 + (.28 * 1));
	}
	@include breakpoint(medium) {
		font-size: $h2-size * (1 + (.28 * 2));
	}
	@include breakpoint(large) {
		font-size: $h2-size * (1 + (.28 * 3));
	}
}


h3 {
	$h2-size: 24px;

	font-size: $h2-size;
	margin-bottom: 0.6em;
	@include single-text-shadow(#000, 0, 0, 6px );
	
	strong {
	  font-size: 1.2em;
	}
	
	@include breakpoint(small) {
		font-size: $h2-size * (1 + (.28 * 1));
	}
	@include breakpoint(medium) {
		font-size: $h2-size * (1 + (.28 * 2));
	}
	@include breakpoint(large) {
		font-size: $h2-size * (1 + (.28 * 3));
	}
}


h4 {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 0;
}

img {
	height: auto;
	width: 100%;
}

p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
.panel,
.row {
  
  &:first-child,
  &.first-child {
	margin-top: 0;  
  }
  &:last-child,
  &.last-child {
	margin-bottom: 0;  
  } 
}

p,
ul,
ol {
	line-height: 1.4em;
	margin-bottom: 1em;
	@include single-text-shadow(#000, 0, 0, 3px );
}


.row {
  margin-bottom: 1em;
}

@for $i from 1 through 12 {
	.col-md-#{$i} {
	  margin-bottom: 1em;
	  
	  &:last-child {
		  margin-bottom: 0;
	  }
	  
	  @include breakpoint(medium) {
	  	margin-bottom: 0;
	  }
	}	
}

section {
	
	&#activities {
		background-color: #000;
		background-image: url(../images/green_wallpaper_cropped.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		@include breakpoint (small){
			background-attachment: fixed;
		}
	}
	
	&#celebrate {
		background-color: #000;
		background-image: url(../images/stars.png);
		background-repeat: repeat;
	}
	
	&#contest {
		background-color: #000;
		background-image: url(../images/epic-high-five.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		@include breakpoint (small){
			background-attachment: fixed;
		}
	}
	
	&#dj {
		background-color: #000;
		background-image: url(../images/club.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		@include breakpoint (small){
			background-attachment: fixed;
		}
	}

	&#end {
		background-color: #ff6700;
		background-image: url(../images/wood-hnw-3.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	&#eighttaps {
		background-color: #000;
		background-image: url(../images/beer-texture.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		@include breakpoint (small){
			background-attachment: fixed;
		}
	}
	
	&#fortgeorge {
		background-color: #000;
		background-image: url(../images/skulls-burntumber.png);
		background-repeat: repeat;
		@include breakpoint (small){
			background-attachment: fixed;
		}
	}
	
	&#fun {
		background-color: #213966;
		background-image: url(../images/dots-3.png);
		background-repeat: repeat;
	}

	&#intro {
		background-color: #000;
		background-image: url(../images/party_kids.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		@include breakpoint (small){
			background-attachment: fixed;
		}
	}
}


ul.soc {
	li {
		font-size: 24px;
		line-height: 30px;
		list-style: none;
	}
}

.v-center {
	display: table;
	width: 100%;

	> .v-center-2 {
		display: table-cell;
		height: 600px;
		vertical-align: middle;
		width: 100%;
	}
}

@include breakpoint(small){
	.appear_from_left {
		display: inline-block;
		opacity: 0;
		filter: alpha(opacity = 0);
		left: -150px;
		padding-right: 30px
	}
	
	.appear_from_right {
		display: inline-block;
		opacity: 0;
		filter: alpha(opacity = 0);
		right: -150px;
		padding-left: 30px;
	}
	
	.appear_from_left_active,
	.appear_from_right_active {
		@include single-transition(opacity, 1s, ease);
		opacity: 1;
		filter: alpha(opacity = 100);
	}
}

