@import "compass/css3";

@mixin breakpoint($point) {
  @if $point == reader {
    @media (min-width: 384px) { @content; }
  }
  @else if $point == small {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 992px)  { @content; }
  }
  @else if $point == large {
    @media (min-width: 1200px)  { @content; }
  }
}

$text_color: #fff;
$link_color: #aff;
$link_hover_color: #9dd;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ff6700;
  color: $text-color;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.1em;
}

a {
  color: $link_color;
  text-decoration: none;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;

  &:hover {
	  color: $link-hover-color;
	  text-decoration: none;
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  
  a {
	  color: $link-color;
	  
	  &:hover {
		 color: $link-hover-color; 
	  }
  }
  
  small {
	  color: $text-color;
  }
}


h1 {
	$h1-size: 40px;

	font-size: $h1-size;
	margin-bottom: 0.6em;
	@include single-text-shadow(rgba(0,0,0,0.9), 0, 0, 8px );
	
	strong {
	  font-size: 1.2em;
	}
	
	@include breakpoint(small) {
		font-size: $h1-size * (1 + (.25 * 1));
	}
	@include breakpoint(medium) {
		font-size: $h1-size * (1 + (.25 * 2));
	}
	@include breakpoint(large) {
		font-size: $h1-size * (1 + (.25 * 3));
	}
}


h2 {
	$h2-size: 30px;

	font-size: $h2-size;
	margin-bottom: 0.6em;
	@include single-text-shadow(rgba(0,0,0,0.9), 0, 0, 8px );
	
	strong {
	  font-size: 1.2em;
	}
	
	@include breakpoint(small) {
		font-size: $h2-size * (1 + (.25 * 1));
	}
	@include breakpoint(medium) {
		font-size: $h2-size * (1 + (.25 * 2));
	}
	@include breakpoint(large) {
		font-size: $h2-size * (1 + (.25 * 3));
	}
}


h3 {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 1.12em;
}


h4 {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 0;
}

img {
	height: auto;
	width: 100%;
	padding: 10px 0;
}

p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
.panel,
.row {
  
  &:first-child,
  &.first-child {
	margin-top: 0;  
  }
  &:last-child,
  &.last-child {
	margin-bottom: 0;  
  } 
}

p,
ul,
ol {
	line-height: 1.6em;
	margin-bottom: 1em;
}


.row {
  margin-bottom: 1em;
}


.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  margin-bottom: 1em;
  
  &:last-child {
	  margin-bottom: 0;
  }
  
  @include breakpoint(medium) {
  	margin-bottom: 0;
  }
}

section {
	
	&#celebrate {
		background-color: #555;
		background-image: url(../images/national_high_five.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		@include breakpoint (small){
			background-size: cover;
			background-repeat: no-repeat;
			background-attachment: fixed;
		}
	}
	
	&#activities {

	}
	
	&#dj {
		background-color: #600;
		background-image: url(../images/party_kids.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		@include breakpoint (small){
			background-attachment: fixed;
		}
	}

	&#end {
		background-image: url(../images/harmonicnw-144x144.png);
		background-position: center center;
		background-repeat: no-repeat;
	}
	
	&#fortgeorge {
		background-color: #066;
	}
	
	&#fun {
		background-color: #606;
	}

	&#intro {
		background-color: #d00;
	}
}

.v-center {
	display: table;
	width: 100%;

	> .v-center-2 {
		display: table-cell;
		height: 600px;
		vertical-align: middle;
		width: 100%;
	}
}

@include breakpoint(small){
	.appear_from_left {
		display: inline-block;
		opacity: 0;
		filter: alpha(opacity = 0);
		left: -150px;
		padding-right: 30px
	}
	
	.appear_from_right {
		display: inline-block;
		opacity: 0;
		filter: alpha(opacity = 0);
		right: -150px;
		padding-left: 30px;
	}
	
	.appear_from_left_active,
	.appear_from_right_active {
		@include single-transition(opacity, 1s, ease);
		opacity: 1;
		filter: alpha(opacity = 100);
	}
}

